VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJmOWU3M2E4ZS0zM2VkLTQ4Y2YtOGFkMi1lNjBiYjM1NDE4MGMiLCJlbWFpbCI6IjEzNTIyMDQ5QHN0ZC5zdGVpLml0Yi5hYy5pZCIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiJlYzMzM2MzZmVmZmNjNGI1YmE1MCIsInNjb3BlZEtleVNlY3JldCI6IjA4ZmE1OWQ4OTc4OTllMTIzYTExNTExNDZiODFlMDcyZjBiYzQyOGQzMTYzMTcwZDVlNmI4N2NiYTEyNzAzYjEiLCJleHAiOjE3OTcxNTk5OTB9.eYOZSw5mK-yNv8lxr2Z1yybhdRsgtn7PHtru9K4lTyY

VITE_CONTRACT_ADDRESS=0xfc53F522aB44992d68Bf293FBa3E47bB95AA6253